In [1]:
import pandas as pd
import numpy as np

In [2]:
excel_path = "../data/Historico_do_Preco_Horario_-_17_de_abril_de_2018_a_6_de_novembro_de_2024.xlsx"
df = pd.ExcelFile(excel_path)
df.sheet_names

['Test Sheet']

In [3]:
data = df.parse(sheet_name=df.sheet_names[0])

In [4]:
# Despivotar os dados para transformar colunas de datas em linhas
data_melted = data.melt(
    id_vars=["Hora", "Submercado"],  # Colunas que permanecem como identificadores
    var_name="Data",  # Nome para a nova coluna que conterá os nomes das colunas originais (datas)
    value_name="Valor",  # Nome para a nova coluna que conterá os valores das colunas originais
)

data.dropna(inplace=True)

# # Converter a coluna "Data" para o formato datetime
# data_melted["Data"] = pd.to_datetime(data_melted["Data"], errors="coerce")
# data_melted = data_melted.reset_index(drop=True)
# data_melted = data_melted.assign(
#     Ano=data_melted.Data.dt.year, Mes=data_melted.Data.dt.month
# )

data_melted.to_csv("../../streamlit/data/clean_data.csv", index=False)

In [5]:
data_melted.columns

Index(['Hora', 'Submercado', 'Data', 'Valor'], dtype='object')

In [9]:
data_melted.head(1000)

    Hora Submercado                 Data   Valor
0      0    SUDESTE  2018-04-17 00:00:00   40.16
1      0        SUL  2018-04-17 00:00:00   40.16
2      0   NORDESTE  2018-04-17 00:00:00   40.16
3      0      NORTE  2018-04-17 00:00:00   40.16
4      1    SUDESTE  2018-04-17 00:00:00   40.16
..   ...        ...                  ...     ...
995   19        SUL  2018-04-29 00:00:00  212.69
996   19   NORDESTE  2018-04-29 00:00:00  156.66
997   19      NORTE  2018-04-29 00:00:00  156.62
998   20    SUDESTE  2018-04-29 00:00:00  209.36
999   20        SUL  2018-04-29 00:00:00  209.40

[1000 rows x 4 columns]

In [10]:
data_melted[
    data_melted["Hora"]
    == "Observação: As linhas 98 a 101 são referentes a segunda hora 23h as 23h59 no dia 16/02/2019 considerando o horário de verão"
] = 25

In [11]:
data_melted.value_counts("Hora")

Hora
23    19288
0      9644
13     9644
22     9644
21     9644
20     9644
19     9644
18     9644
17     9644
16     9644
15     9644
14     9644
12     9644
1      9644
11     9644
10     9644
9      9644
8      9644
7      9644
6      9644
5      9644
4      9644
3      9644
2      9644
25     2411
Name: count, dtype: int64

In [13]:
data_melted.columns

Index(['Hora', 'Submercado', 'Data', 'Valor', 'Ano', 'Mes'], dtype='object')

In [ ]:
import requests
from bs4 import BeautifulSoup

# URL do site
url = "https://www.ccee.org.br/web/guest/precos/painel-precos"

# Fazer a requisição HTTP
response = requests.get(url)

# Verificar se a requisição foi bem-sucedida
if response.status_code == 200:
    # Parsear o HTML da página
    soup = BeautifulSoup(response.content, "html.parser")

    # Encontrar o elemento <option> com o valor desejado
    option_element = soup.find("option", value="HORARIO")

    # Se o elemento foi encontrado, extrair o valor de data-url
    if option_element:
        data_url = option_element.get("data-url")
        print(f"URL encontrada: {data_url}")
    else:
        print("Elemento <option> não encontrado.")
else:
    print(f"Erro ao acessar o site: {response.status_code}")

# URL do arquivo
url = data_url
# Nome do arquivo para salvar
filename = "Historico_do_Preco_Horario.xlsx"

# Fazer o download
response = requests.get(url)

# Verificar se o download foi bem-sucedido
if response.status_code == 200:
    with open(filename, "wb") as file:
        file.write(response.content)
    print(f"Arquivo salvo como {filename}")
else:
    print(f"Erro ao baixar o arquivo: {response.status_code}")

URL encontrada: https://www.ccee.org.br/documents/80415/919464/Historico_do_Preco_Horario_-_17_de_abril_de_2018_a_3_dezembro_de_2024.xlsx/f68576ff-b940-0a2c-a7e0-17a1068c8b98?version=1.0&t=1675864330758&download=true
Arquivo salvo como Historico_do_Preco_Horario.xlsx

In [3]:
import requests
from bs4 import BeautifulSoup

# URL do site
url = "https://www.ccee.org.br/web/guest/precos/painel-precos"

# Fazer a requisição HTTP
response = requests.get(url)

# Verificar se a requisição foi bem-sucedida
if response.status_code == 200:
    # Parsear o HTML da página
    soup = BeautifulSoup(response.content, "html.parser")

    # Encontrar o elemento <option> com o valor desejado
    option_element = soup.find("option", value="HORARIO")

    # Se o elemento foi encontrado, extrair o valor de data-url
    if option_element:
        data_url = option_element.get("data-url")
        print(f"URL encontrada: {data_url}")
    else:
        print("Elemento <option> não encontrado.")
else:
    print(f"Erro ao acessar o site: {response.status_code}")

URL encontrada: https://www.ccee.org.br/documents/80415/919464/Historico_do_Preco_Horario_-_17_de_abril_de_2018_a_3_dezembro_de_2024.xlsx/f68576ff-b940-0a2c-a7e0-17a1068c8b98?version=1.0&t=1675864330758&download=true